@import "../lib/css/base";

@import "./menu/styles";
@import "./notification/styles";

@media screen and (min-device-width: 1200px) {
  .main {
    max-width: 480px;
  }
  .notification {
    max-width: 480px;
  }
}

//Layout
.main {
  position: absolute;
  top:      0;
  bottom:   0;
  left:     0;
  right:    0;

  background-color: #CDCDCD;

  display:        flex;
  flex-direction: row;
  align-items:    stretch;
  overflow:       hidden;
}


//Top-level menu layout
#menu-top-level {
  .sprite {
    flex: 1;
  }
  .controls {
    text-align: center;
    background-color: #989898;
  }
}
#defend-menu {
  text-align: center;

  .header {
    margin-top: 2rem;
    font-size:  2rem;
  }
  .controls {
    margin-right: 4rem;
    margin-left:  4rem;
    flex: 1;
  }
}
#attack-menu {
  text-align: center;

  .header {
    margin-top: 2rem;
    font-size:  2rem;
  }
  .sprite {
    flex: 1;
  }
  .controls {
    margin-right: 2rem;
    margin-left:  2rem;
  }
  //Wrapping buttons
  .buttons--horizontal {
    flex-wrap: wrap;
  }
  .controls .button {
    flex-basis: 30%;
  }
}
