//Notifications
.notification {
  position: fixed;
  top:      0;
  left:     0;
  right:    0;
  z-index:  100;

  background-color: #FFFFFF;
  transition: top 0.25s;

  box-sizing: border-box;
  padding: 0 1rem;
}
.notification.is-hidden {
  top: -100%;
}
