//Scene
.scene {
  display:    flex;
  flex-flow:  column;
  background: url("scene/stars.svg");
}

.scene_ground {
  width:            100%;
  height:           16rem;
  background-color: #525252;

  position: absolute;
  bottom:   0;
  left:     0;
}

.sprite {
  flex: 1;

  background-image:    url("scene/monster.png");
  background-repeat:   no-repeat;
  background-size:     contain;
  background-position: center center;
  image-rendering:     pixelated;
}
