//Scene
.scene {
  display: flex;
  background: url("scene/stars.svg");
}

.scene_ground {
  width:            100%;
  height:           16rem;
  background-color: #525252;

  align-self: flex-end;
  margin:     0 auto;
}
