@import "./notification/styles";

.hud {
  display:  flex;
  position: absolute;
  top:      0;
  bottom:   0;
  left:     0;
  right:    0;

  margin-top:    2rem;
  margin-bottom: 2rem;
  flex-flow:     row wrap;
  align-content: space-between;
}
.hud_row {
  width:          100%;
  display:        flex;
  flex-direction: column;
}


.player-metrics{

}
.player-metrics_attacking:before,
.player-metrics_attacking:after {
  background-color: crimson;
}
.player-metrics_defending:before,
.player-metrics_defending:after {
  background-color: steelblue;
}
